@{
    Layout = "~/Views/Shared/_FlatShopLayout.cshtml";
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

<div class="container_fullwidth">
    <div class="container">
        <h3 class="title">About Us</h3>
        <div class="row">
            <div class="col-md-12">
                <p>@ViewBag.Message</p>
            </div>
        </div>
    </div>
</div>